<div class="menu">
  <mat-toolbar color="primary" class="mat-elevation-z8">
      <img src="assets/img/clinic (2).png" style="width: 50px;">
      <span>Clinic Management System</span>

      <div class="space"></div>
      <ul>
          <a mat-raised-button color="accent" href="home">Home</a>
          <a mat-button href="aboutus">About Us</a>
          <a mat-button href="doctor">Doctor</a>
          <a mat-button href="userlogin">User Login</a>
          <a mat-button href="signup">Sign Up</a>
      </ul>


  </mat-toolbar>
</div>

<div class="header">
  <p class="font-properties">ABOUT CLINIC MANAGEMENGT SYSTEM</p>
</div><br><br>

<p>A Clinic Management System is an element of healthcare that focuses mainly on the administrational needs of
  hospitals. In many implementation that comprehensive, integrated information system design to manage all the
  aspects of a hospital's operation such as medical, administrative, financial and legal issues and the
  corresponding processing of services. Patien Information System has three main levelss, Central Government
  level, Territory Level, and Patient Carrying Level.
  Generally, all type of hospital information system are supported in client-server aechitectures for networking
  and processing. Most work position for HIS are currently resident type.
</p><br>
<p>Clinic have been popular with patients with minor ailments and also for certain specialties.
  They provide easy access to healthcare without having to go to hospitals. For a visit with a
  dentist or surgery, most people visit a doctor at their clinic than spending time waiting at a
  hospital.
  <br><br>Our project is about an online system for managing the patients that will be visit at a clinic
  located at Kiembe Samaki near AirPot, this customizable medical practices management
  system includes patient care management, mobile app, schedule online appointments,
  secured messaging, eBilling, Insurance and other aspects. Clinical management system is
  based on a web –based clinic software available for both in premise and cloud installations.
  <br></p><br>
  <p>A typical clinic workflow involves the following. A patient blocks an appointment with a
  practicing doctor at the clinic. Registration of patient data is done at the time of visit. The
  doctor meets the patient and offers medical advice. Accordingly, the patient may have to
  get some diagnostic tests conducted or purchase the prescribed medicines.</p>
  <br>

  <p>Therefore, as per need, the patient would access the clinic lab and pharmacy. The treatment
  bill is generated as per services availed. So a part from the treatment cycle, clinic operation
  and administration include upkeep of the clinic, staffing records, maintenance of various
  departments, including emergency, housekeeping, laboratory, etc. The clinic also has to
  maintain various inventories and stock as well as coordinate with other stakeholders such
  as diagnostic labs, medical equipment, vendors so on and so forth. <br></p>

<div class="outer-footer">
      
</div>