<div class="menu">
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <img src="assets/img/clinic (2).png" style="width: 50px;">
        <span>Clinic Management System</span>

        <div class="space"></div>
        <ul>
            <a mat-raised-button color="accent" href="home">Home</a>
            <a mat-button href="aboutus">About Us</a>
            <a mat-button href="doctor">Doctor</a>
            <a mat-button href="userlogin">User Login</a>
            <a mat-button href="signup">Sign Up</a>
        </ul>
    </mat-toolbar>
</div>

<div class="header">
    <p class="font-properties">OUR DOCTORS LIST</p>
</div><br><br>


<div class="wrapper">
    <section class="columns">
        <div class="colum">
            <div class="image-content">
                <span class="overlay"></span>

                <div class="card-image">
                    <img src="assets/img/41808433_l.jpg" class="card-img">
                </div>
            </div>
            <div class="card-content">
                <h2 class="name">David Brown</h2>
                <p><b>Dentist</b> <br>
                Healthcare diagnoses and treats Dental</p>
                <p class="description ">
                    @David Brown
                </p>
            </div>
        </div>

        <div class="colum">
            <div class="image-content">
                <span class="overlay"></span>

                <div class="card-image">
                    <img src="assets/img/iStock-1193303828.jpg" class="card-img">
                </div>
            </div>
            <div class="card-content">
                <h2 class="name">Kaushal Kashore</h2>
                <b>Dermatologyists</b>
                <p>Have problems with your skin, hair, nails, skin allergies and other</p>
                <p class="description ">  
                    @Kaushal Kashore
                </p>
            </div>
        </div>

        <div class="colum">
            <div class="image-content">
                <span class="overlay"></span>

                <div class="card-image">
                    <img src="assets/img/large-Smile-Guy-web.jpg" class="card-img">
                </div>
            </div>
            <div class="card-content">
                <h2 class="name">Sumit T</h2>
                <b>Endocrinologist</b>
                <p>Treat condition like diabetes, thyroid problems and calcium and bone disorders   </p>
                <p class="description ">                  
                    @Sumit T
                </p>
            </div>
        </div>
    </section>
</div>
<div class="outer-footer">

</div>




<!--             
<div class="slide-container">
    <div class="slide-content">
        <div class="card-wrapper">
            <div class="card">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="assets/img/iStock-1193303828.jpg" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="name">David Brown</h2>
                    <p class="description ">ntegrated information system design to manage all the aspects processing of services. Patien Information System has three main levelss, Central Government level, Territory Level, and Patient Carrying Level. Generally, all type of hospital infor</p>
                </div>
            </div>
            
        </div>
    </div>
</div>  -->