

<button>
<div class="modal-content">   
    
    <div class="modal-header">
            <!-- <span class="closebtn" onclick="closeModal()">&times;</span> -->
            <h2>Contact us</h2><br><br>
        </div>
        <div class="modal-body">
            <p>We are available 24/7, so don't hesitate to contact us, <br><br>
            
            Kiembe Samaki,<br><br>
            Zanzibar,<br><br>
            +255 774 328 342, <br><br>najimissaya21@gmail.com
        </p>
        
        </div>
    
</div>
 
</button>